body {
    font-family: Arial;
    font-size:16px;
    background-color: rgb(230, 232, 239);
}

main {
    background-color: rgb(255, 255, 255);
    padding: 5px
}

main section {
    overflow: hidden;
}

main section.grey-section {
    background: rgb(226, 226, 226);
}

main section p img {
    width: 200px;
    float: left;
    margin-right: 5px;
}

footer {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    text-align: center;
}

main form div label {
    width: 200px;
    display: inline-block;
}

main form div {
    margin-bottom: 5px;
    
}

textarea {
    border: none;
}

input {
    border: none;
}

select {
    border: none;
}

h1{
    color: blue;
}

img{
    width: 25px;
    height: auto;
    margin: 0 auto;
    display: block;
}

div{
    padding: 5px;
}

td{
    padding: 5px;
}

th{
    padding: 5px;
}

form button{
    margin: 10px;
}

ul {

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

 ul.topnav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #0b518e;
 }

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #73b8ee;}

ul.topnav li a.active {background-color: #1d76af;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}

}