<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<header>
</header>
<div id="navbar_tasks" class="alt" th:include="fragments/fragments :: navbar_tasks">
</div>

<h1>Edycja zadania</h1>


<form th:action="@{/tasks}" th:method="post" th:object="${task}">

    <input type="hidden" th:field="*{id}">
    <label>Tytuł:</label>
    <input type="text" th:field="*{title}">
    <label>Zadanie dla:</label>

    <select th:field="*{user}">
        <option th:each="user: ${users}" th:value="${user.id}"
                th:text="${user}"/>
    </select>

    <label>Treść:</label>
    <input type="text" th:field="*{content}">

    <label>Skończone:</label>
    <input type="checkbox" name="finished">

    <input type="submit" value="Potwierdź zmiany">

</form>

<form th:action="@{/tasks}" th:method="get">

    <button type="submit" value="cancel">Anuluj</button>

</form>

<div id="footer" class="alt" th:include="fragments/fragments :: footer">
</div>

</body>
</html>