<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<header>
</header>
<div id="navbar_tasks" class="alt" th:include="fragments/fragments :: navbar_tasks">
</div>

<div th:if="${task}">
    <label>Tytuł zadania:</label>
    <h2 th:text="${task.title}"></h2>
    <label>Treść zadania:</label>
    <h2 th:text="${task.content}"></h2>
    <label>Zadanie dla::</label>
    <h2 th:text="${task.user}"></h2>

</div>

<div id="footer" class="alt" th:include="fragments/fragments :: footer">
</div>
</body>
</html>