<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<header>

    <h1>(: Notatki & Zadania :)</h1>

    <nav class="display-wrapper">

        <a href="/" class="display-inline-block">
            Strona Główna
            <!--<div class="counter">
                12
            </div>-->
        </a>

        <a href="/notes" class="display-inline-block">Notatki</a>

        <a href="/tasks" class="display-inline-block">Zadania</a>


    </nav>



</header>


<h1 th:text="${user}"></h1>


<h2>Notatki</h2>

<ol>
    <li th:each="note : ${user.notes}" th:text="${note}"/>
</ol>

</body>
</html>