<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<header id="navbar_notes" class="alt" th:include="fragments/fragments :: navbar_notes">
</header>



<h1>Nowa notatka</h1>


<form th:action="@{/notes}" th:method="post" th:object="${note}">


        <input type="hidden" th:field="*{id}">
    <div>
        <label>Tytuł:</label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Autor:</label>
        <select th:field="*{user}">
            <option th:each="user: ${users}" th:value="${user.id}"
                    th:text="${user}"/>
        </select>
    </div>

    <div>
        <label>Treść:</label>
        <textarea th:field="*{content}" cols="30" rows="10"></textarea>
    </div>

    <div>
        <input type="submit" value="Dodaj notatkę">
    </div>
</form>

<div id="footer" class="alt" th:include="fragments/fragments :: footer">
</div>
</body>

</html>