<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>





<body>

<header>

    <h1>(: Notatki & Zadania :)</h1>

    <nav class="display-wrapper">

        <a href="/" class="display-inline-block">
            PANEL WYBORU
            <!--<div class="counter">
                12
            </div>-->
        </a>

        <a href="/notes" class="display-inline-block">NOTATKI</a>

        <a href="/tasks" class="display-inline-block">ZADANIA</a>


    </nav>



</header>

<h1>Nowa notatka</h1>


<form th:action="@{/notes}" th:method="post" th:object="${note}">

    <input type="hidden" th:field="*{id}">
    <label>Tytuł:</label>
    <input type="text" th:field="*{title}">
    <label>Autor:</label>

    <select th:field="*{user}">
        <option th:each="user: ${users}" th:value="${user.id}"
                th:text="${user}"/>
    </select>

    <label>Treść:</label>
    <input type="text" th:field="*{content}">



    <input type="submit" value="Dodaj notatkę">

</form>

</body>

</html>