<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Lista książek</h1>

<p th:if="${message}" id="message"
   th:text="${message}"/>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Show</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>
        <td><a th:href="@{'/books/'+${book.id}}" th:text="${book.title}"/></td>
        <td><a th:href="@{'/books/'+${book.id}+'/delete'}"> Delete </a></td>
        <td><a th:href="@{'/books/'+${book.id}+'/edit'}"> Edit </a></td>
    </tr>
    </tbody>
</table>
<a href="/books/add">Dodaj nową książkę</a>



</body>
</html>