<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<header>

    <h1>(: Notatki & Zadania :)</h1>

    <nav class="display-wrapper">

        <a href="/" class="display-inline-block">
            PANEL WYBORU
            <!--<div class="counter">
                12
            </div>-->
        </a>

        <a href="/notes" class="display-inline-block">NOTATKI</a>

        <a href="/tasks" class="display-inline-block">ZADANIA</a>


    </nav>



</header>


<!--<p id="message" th:if="${message}" th:text="${message}"></p>-->

<div th:if="${note}">
    <label>Tytuł Notatki:</label>
    <h2 th:text="${note.title}"></h2>
    <label>Treść notatki:</label>
    <h2 th:text="${note.content}"></h2>
    <label>Autor:</label>
    <h2 th:text="${note.user}"></h2>

</div>

</body>
</html>