<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<header id="navbar_notes" class="alt" th:include="fragments/fragments :: navbar_notes">
</header>


<h1>Podgląd</h1>

<div th:if="${note}">
    <label>Tytuł Notatki:</label>
    <h2 th:text="${note.title}"></h2>

    <label>Treść notatki:</label>
    <div>
    <textarea th:text="${note.content}" cols="30" rows="10"></textarea>
    </div>
    <div>
    <label>Autor:</label>
    <h2 th:text="${note.user}"></h2>
    </div>
</div>

<div id="footer" class="alt" th:include="fragments/fragments :: footer">
</div>
</body>
</html>