<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Index</title>

</head>
<body>

<header>
<ul class="topnav">
    <li><a class="active" href="/">Panel Wyboru</a></li>
    <li><a href="notes">Notatki</a></li>
    <li><a href="tasks">Zadania</a></li>
    <li class="right"><a href="/">(: notatki & zadania :)</a></li>

</ul>
</header>

<main>
    <!--<hr>-->
    <section>
        <h2 href="notes" >Notatki</h2>
        <p>
            <a href="notes">
                <img src="notepad.png" alt="notes">
            </a>
            Dodawanie, edycja, przegląd i usuwanie notatek.
        </p>




    </section>
    <!--<hr>-->
    <section class="grey-section">
        <h2>Zadania</h2>
        <p>

            <a href="tasks">
                <img src="task_list.jpg" alt="tasks">
            </a>

        </p>



    </section>
    <!--<hr>-->

</main>

<div id="footer" class="alt" th:include="fragments/fragments :: footer">
</div>
</body>
</html>